      - name: Terraform plan (dev)
        working-directory: infra
        run: |
          set -euxo pipefail
          terraform init -input=false -upgrade
          terraform workspace select dev || terraform workspace new dev
          terraform validate
          TFVARS=""
          if [ -f ../env/dev.tfvars ]; then TFVARS="-var-file=../env/dev.tfvars"; fi
          terraform plan -no-color $TFVARS -out=tfplan

      - name: Terraform apply (dev)
        working-directory: infra
        run: |
          set -euxo pipefail
          TFVARS=""
          if [ -f ../env/dev.tfvars ]; then TFVARS="-var-file=../env/dev.tfvars"; fi
          terraform apply -auto-approve tfplan
