name: PR CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  pr_ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install linters
        run: |
          python -m pip install --upgrade pip
          pip install ruff flake8

      - name: Lint lambda
        run: |
          ruff --output-format=github lambda
          flake8 lambda

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform fmt
        working-directory: infra
        run: terraform fmt -check -recursive
